html   
    header
    body
        div
            table
                tr
                    th Id
                    th Name
                    th Age
                    th Email
                tr
                    each val in users[0]    
                        td= val.id
                        td= val.name
                        td= val.age
                        td= val.email
        div

        //-  each val in users    
                    td= val.id
                    td= val.name
                    td= val.age
                    td= val.email