html
    head
    body
        table
            tr
                th ID
                th First Name
                th Last Name
                th Email
                th Age
            for user in userArray    
                tr
                    td= user.id
                    td= user.fName
                    td= user.lName
                    td= user.email
                    td= user.age
                    td 
                        button
                            a( href="/user/edit/" + user.id) Edit
                    td
                        form(action='/deleteUser/' + user.id, method='POST')
                            input(type='submit' value='Delete' style="margin-top: 15px")